name: Build latest .jar
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Get the .m2 cache
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn build

      - name: Get build number
        uses: einaregilsson/build-number@v2
        with:
          token: ${{ secrets.github_token }}

      - name: Set project name
        run: |
            NAME=$( mvn help:evaluate -Dexpression=project.name -q -DforceStdout )
            echo "PROJECT_NAME=${NAME}" >> $GITHUB_ENV
      - name: Set output name
        run: echo "OUTPUT_NAME=${PROJECT_NAME}_${BUILD_NUMBER}" >> $GITHUB_ENV

      - name: Rename output .jar
        run: mv target/artifact.jar "target/${OUTPUT_NAME}.jar"

      - name: Upload GitHub artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.OUTPUT_NAME }}
          path: target/${{ env.OUTPUT_NAME }}.jar